@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DefaultLoadModel;

<script src ="~/js/redirect.js"></script>
<script src="~/js/helpBehavior.js"></script>

<div class="formLeft">
    <form class="buttonArea">
        <div class="button" onclick="ChangeContext('Rules')">
            <div class="buttonText">
                <p>Правила игры</p>
            </div>
        </div>
        <div class="button" onclick="ChangeContext('Level')">
            <div class="buttonText">
                <p>Выбор уровня</p>
            </div>
        </div>
        <div class="button" onclick="ChangeContext('Difficult')">
            <div class="buttonText">
                <p>Сложность</p>
            </div>
        </div>
        <div class="button" onclick="redirectTo('/Home/Index')">
            <div class="buttonText">
                <p>Назад</p>
            </div>
        </div>
    </form>
</div>
<div class="formRight">
    <form class="infoArea">
        <h1 id="header">@Model.Header</h1>
        <div class="imageArea">
            <img src="~/Images/@Model.ImageName" id="image">
        </div>
        <div class="imageButtons">
            <span class="imageButton" onclick="PrevHint()">Предыдущая</span>
            <span class="imageButton" onclick="NextHint()">Следующая</span>
        </div>
    </form>
</div>